{% if question_list %}
    <ul>
    {% for question in question_list %}
        <li style="padding: 4px">
            {{ question.pub_date | date }}
            <a href="{% url 'polls:detail' question.id %}">
                 {{ question.question_text }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
